<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link th:href="@{/css/startbootstrap-shop-homepage-gh-pages/startbootstrap-shop-homepage-gh-pages/css/shop-homepage.css}" rel="stylesheet">
		<link th:href="@{/css/startbootstrap-shop-homepage-gh-pages/startbootstrap-shop-homepage-gh-pages/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" th:href="@{/css/startbootstrap-simple-sidebar-gh-pages/startbootstrap-simple-sidebar-gh-pages/css/simple-sidebar.css}" />
	</head>
	<body>
		<header th:insert="fragments/Top-nav :: header"></header>
		<div class="d-flex" id="wrapper">
			<div th:insert="fragments/Sidenav :: sidenav"></div>
			<div id="page-content-wrapper">
				<div class="container-fluid">
					<div class="container border spacing" style="width: 60%; margin-top: 5%; margin-bottom: 5%; padding: 2% 2% 0% 2%;">
						<h1>New Product</h1>
						<form class="border border-light p-5" th:action="@{/product/newProduct}" method="post" th:object="${product}">
							<div class="form-group">
								<label for="title">Titre :</label>
								<input type="text" class="form-control" id="title" placeholder="Titre" th:field="*{title}">
							</div>
							<div class="form-group">
								<label for="price">Prix :</label>
								<input type="text" class="form-control" id="title" placeholder="Prix" th:field="*{price}">
							</div>
							<div class="form-group">
								<label for="quantity">Quantité :</label>
								<input type="text" class="form-control" id="quantity" placeholder="Quantité" th:field="*{quantity}">
							</div>
							<div class="form-group">
								<label for="category">Categorie :</label>
								<select  class="mdb-select md-form" name="category">
									<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.title}">title</option>
								</select>
							</div>
							<div class="form-group">
								<label for="imagePath">Image :</label>
								<input type="file" class="form-control" id="imagePath"  name="image">
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-primary to-right">Ajouter</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>